dist
package-lock.json
node_modules
__tests__/inputs/*.xml
__tests__/input
__tests__/output
.idea
.vscode
*.log
.env

*.p12

# Mac files
.DS_Store

# Dummy keys
coverage

# Dummy keys
__tests__/stubs/dummyKeys/certificate.pem
__tests__/stubs/dummyKeys/csr.csr
__tests__/stubs/dummyKeys/key.pem
